﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage.master" CodeBehind="Master_ST_Route.aspx.vb" Inherits="EIR.Master_ST_Route" %>

<%@ Register src="PageNavigation.ascx" tagname="PageNavigation" tagprefix="uc1" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="Ajax" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:UpdatePanel ID="UDPMain" runat="Server">
<ContentTemplate>
        			<!-- Page Head -->
			<h2>Stationary Route Setting </h2>
			
			
			<div class="clear"></div> <!-- End .clear -->
			
			<div class="content-box"><!-- Start Content Box -->
			  <!-- End .content-box-header -->
              <div class="content-box-header">
                <h3>Display condition </h3>
                
                <asp:DropDownList CssClass="select" style="position:relative; top:5px;" 
                      ID="ddl_Search_Plant" runat="server" AutoPostBack="True">
                </asp:DropDownList>
    	        <div class="clear"></div>
              </div>
			  

             
              <div class="content-box-content">
                <div class="tab-content default-tab" id="tab1">
                  <!-- This is the target div. id must match the href of this div's tab -->
                   <asp:Panel ID="pnlBindingError" runat="server" CssClass="notification attention png_bg">
                      <asp:ImageButton ID="btnBindingErrorClose" runat="server" ImageUrl="resources/images/icons/cross_grey_small.png" ToolTip="Close" CssClass="close" />
                      <div> <asp:Label ID="lblBindingError" runat="server"></asp:Label></div>
                  </asp:Panel>
                  <asp:Panel ID="pnlListRoute" runat="server">
                  <table>
                    <thead>
                      <tr>
                        <th><a href="#">Route Code </a></th>
                        <th><a href="#">Plant Code </a> </th>
                        <th><a href="#">Route Name </a></th>
                        <th><a href="#">Tag(s)</a></th>
                        <th><a href="#">Plot plan</a></th>
                        <th><a href="#">Status</a></th>
                        <th><a href="#">Updated</a> </th>
                        <th><a href="#">Action</a></th>
                      </tr>
                    </thead>                   
                     <asp:Repeater ID="rptRoute" runat="server">
                           <HeaderTemplate>
                           
                            <tbody>
                           </HeaderTemplate>
                           <ItemTemplate>
                              <tr>
                                <td><asp:Label ID="lblRouteCode" runat="server"></asp:Label></td>
                                <td><asp:Label ID="lblPlantCode" runat="server"></asp:Label></td>
                                <td><asp:Label ID="lblRouteName" runat="server"></asp:Label></td>
                                <td style="text-align:center;"><asp:Label ID="lblTag" runat="server"></asp:Label></td>
                                <td><asp:Image ID="img" runat="server" Width="100" Height="100" ImageUrl="resources/images/Black.png"></asp:Image></td>
                                <td><asp:Label ID="lblStatus" runat="server"></asp:Label></td>
                                <td><asp:Label ID="lblUpdateTime" runat="server"></asp:Label></td>
                                <td><!-- Icons -->
                                  <asp:ImageButton ID="btnEdit" CommandName="Edit" runat="server" ImageUrl="resources/images/icons/pencil.png" />
                                  <asp:ImageButton ID="btnToggle" CommandName="ToggleStatus" runat="server" ImageUrl="resources/images/icons/cross.png" />
                                  
                               </td>
                              </tr>
                      
                            </ItemTemplate>
                            <FooterTemplate>
                             </tbody>
                            </FooterTemplate>
                           </asp:Repeater>
                     <tfoot>
                      <tr>
                        <td colspan="7">
                        <div class="bulk-actions align-left">                             
                            <asp:LinkButton ID="btnCreate" runat="server" CssClass="button" Text="Create new"></asp:LinkButton>
                        </div>
                            <uc1:PageNavigation ID="Navigation" runat="server" />
                          <!-- End .pagination -->
                          <div class="clear"></div>   
                        </td>
                      </tr>
                    </tfoot>
                  </table>
				  
				     <div class="clear"></div>
				   </asp:Panel>
			        
			     <asp:Panel ID="pnlBindingSuccess" runat="server" CssClass="notification success png_bg">  
                      <asp:ImageButton ID="btnBindingSuccessClose" runat="server" ImageUrl="resources/images/icons/cross_grey_small.png" ToolTip="Close" CssClass="close" />
				      <div><asp:Label ID="lblBindingSuccess" runat="server"></asp:Label></div>
				 </asp:Panel>
				 <asp:Panel ID="pnlEdit" runat="server">
                  <div class="content-box-header">
                    <h3><asp:Label ID="lblUpdateMode" runat="server"></asp:Label>&nbsp;Route </h3>
                    <div class="clear"></div>
                  </div>

                    <fieldset>
                    <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
                    <p>&nbsp;</p>
                      <p>
                        <label class="column-left" style="width:120px;" >Route Code : </label>
                        <asp:TextBox runat="server" ID="txtRouteCode" CssClass="text-input small-input " MaxLength="20"></asp:TextBox>
                    </p>
                      <p>
                      <label class="column-left" style="width:120px;" >Route Name : </label>
                      <asp:TextBox runat="server" ID="txtRouteName" CssClass="text-input small-input " MaxLength="100"></asp:TextBox>
                    </p>
					 <p>
                      <label class="column-left" style="width:120px;" >Define for Plant : </label>
                        <asp:DropDownList CssClass="select" style="position:relative; top:5px;" 
                             ID="ddl_Edit_Plant" runat="server">
                        </asp:DropDownList>
                    </p>
                    <p>
                      <label class="column-left" style="width:120px;" >Plot plan : </label>
                       <div style="text-align:center;  display:inline-block; width:500px; height:550px;">
                        <asp:Image ID="imgPlotPlan" runat="server" Width="500" Height="500" ToolTip="Click to upload/edit" style="cursor:pointer;" ImageUrl="resources/images/Black.png" />
                        <br><br>Click to upload/edit (Aspect Ration 1:1) 
                           <span id="SpanDeletePic" runat="server"> or 
                             <asp:LinkButton ForeColor="Red" ID="lnkDeletePic" runat="server">Click here</asp:LinkButton>
                             <ajax:ConfirmButtonExtender ID="cfbDeletePic" runat="server" TargetControlID="lnkDeletePic" ConfirmText="Are you sure you want to delete Plot Plan?" />   
                             to remove this file </span>
                        <asp:Button ID="btnRefreshImage" runat="server" style="display:none;" />
                       </div>
                        <p>
                            <label class="column-left" style="width:120px;">
                            Available :
                            </label>
                            &nbsp;<asp:CheckBox ID="chkAvailable" runat="server" Text="" />
                        </p>
                        <asp:Panel ID="pnlValidation" runat="server" class="notification error png_bg">
                            <asp:ImageButton ID="btnValidationClose" runat="server" CssClass="close" ImageUrl="resources/images/icons/cross_grey_small.png" ToolTip="Close" />
                            <div>
                                <asp:Label ID="lblValidation" runat="server"></asp:Label>
                            </div>
                        </asp:Panel>
                        <p align="right">
                            <asp:Button ID="btnSave" runat="server" CssClass="button" Text="Save" />
                            <asp:Button ID="btnCancel" runat="server" CssClass="button" Text="Cancel" />
                        </p>

                        <p>
                        </p>



                    </p>
                    </fieldset></asp:Panel>
                </div>
                <!-- End #tab1 -->
				 
					
			  </div> <!-- End .content-box-content -->
				
		  </div> 
</ContentTemplate>
</asp:UpdatePanel>  
</asp:Content>
