﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="MS_ST_Dialog_Spec.ascx.vb" Inherits="EIR.MS_ST_Dialog_Spec" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="Ajax" %>
<%@ Register Src="MS_ST_DialogHeat_Exchnager_Spec.ascx" TagName="MS_ST_DialogHeat_Exchnager_Spec" TagPrefix="uc8" %>

<%@ Register Src="MS_ST_DialogAbsorber_Info.ascx" TagName="MS_ST_DialogAbsorber_Info" TagPrefix="uc10" %>
<%@ Register Src="MS_ST_DialogColumn_Info.ascx" TagName="MS_ST_DialogColumn_Info" TagPrefix="uc11" %>
<%@ Register Src="MS_ST_DialogFilter_Info.ascx" TagName="MS_ST_DialogFilter_Info" TagPrefix="uc12" %>
<%@ Register Src="MS_ST_DialogDrum_Info.ascx" TagName="MS_ST_DialogDrum_Info" TagPrefix="uc13" %>
<%@ Register Src="MS_ST_DialogHeat_Exchnager_Info.ascx" TagName="MS_ST_DialogHeat_Exchnager_Info" TagPrefix="uc14" %>

<%--<div class="MaskDialog"></div>--%>
<asp:Panel ID="pnl" runat="server">
    <asp:Label ID="lblTag" runat="server" Text="" Visible ="false" ></asp:Label>
</asp:Panel>

    
    <table cellpadding="0" cellspacing="0" class="propertyTable">
        <tr>
            <td class="propertyGroup" style="border: none;" colspan="4">Description</td>
            <td class="propertyGroup" style="border: none;">Cad / Drawing&nbsp;
        <asp:Button ID="btnUploadFile" runat="server" Text="" Style="display: none;" />
            </td>
            <td class="propertyGroup" style="border: none; text-align: right;">
                <input type="button" id="btnAddFile" tag_id="0" active_status="True" tag_code="" tag_name=""
                    runat="server" class="button" value="+ Add" style="cursor: pointer;" />
            </td>
        </tr>
        <tr>
            <td style="width: 15%;" class="propertyCaption">Plant <font color="red">**</font></td>
            <td style="width: 15%;">
                <asp:DropDownList ID="ddl_Edit_Plant" runat="server" AutoPostBack="True" CssClass="select">
                </asp:DropDownList>
            </td>
            <td style="width: 15%;" class="propertyCaption">Route <font color="red">**</font></td>
            <td style="width: 15%;">
                <asp:DropDownList ID="ddl_Edit_Route" runat="server" CssClass="select">
                </asp:DropDownList>
            </td>
            <td style="width: 40%;" rowspan="19" colspan="2">
                <asp:Panel ID="DrawingAlbum" runat="Server" CssClass="FileAlbum">
                    <asp:Repeater ID="rptDrawing" runat="server">
                        <ItemTemplate>
                            <div class="item" id="item" runat="server">
                                <div class="thumbnail">
                                    <a id="lnk_File_Dialog" runat="server" target="_blank" title="Drawing">
                                        <asp:Image ID="img_File" runat="server" AlternateText="" onClick="window.open(this.src);" Style="cursor: pointer;" />
                                    </a>
                                </div>
                                <div id="pnlEditFile" runat="server" class="toolbar">
                                    <asp:Button ID="btnUpload" runat="server" Text="" Style="display: none;" CommandName="Edit" />
                                    <input type="image" id="btnEdit" runat="server" src="resources/images/icons/edit_white_16.png" style="margin-right: 10px;" />
                                    <asp:ImageButton ID="btnDelete" runat="server" CommandName="Delete" ImageUrl="resources/images/icons/delete_white_16.png" Style="margin-left: 10px;" />
                                    <Ajax:ConfirmButtonExtender ID="btnDelete_Confirm" runat="server" ConfirmText="Confirm to delete file?" TargetControlID="btnDelete"></Ajax:ConfirmButtonExtender>
                                </div>
                            </div>
                        </ItemTemplate>
                    </asp:Repeater>
                </asp:Panel>
            </td>
        </tr>



        <tr>
            <td class="propertyCaption">Tag No <font color="red">**</font></td>
            <td>
                <asp:DropDownList ID="ddl_Edit_Area" runat="server" AutoPostBack="True" CssClass="select">
                </asp:DropDownList>
            </td>
            <td>
                <asp:DropDownList ID="ddl_Edit_Process" runat="server" AutoPostBack="True" CssClass="select">
                </asp:DropDownList>
            </td>
            <td>
                <asp:TextBox ID="txtTagNo" runat="server" MaxLength="10" Font-Size="10" Style="margin-left: 7px;"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td class="propertyCaption">Tag Name <font color="red">**</font></td>
            <td colspan="3">
                <asp:TextBox ID="txtTagName" runat="server" MaxLength="50" Font-Size="10" Style="text-align: left; margin-left: 7px;"></asp:TextBox>

            </td>
        </tr>
        <tr>
            <td class="propertyCaption">Equipement <font color="red">**</font></td>
            <td style="border-right-style: none;">
                <asp:DropDownList ID="ddl_Edit_Type" runat="server" CssClass="select" AutoPostBack ="true" >
                </asp:DropDownList>
            </td>

            <td colspan="2" style="border-left-style: none;"></td>

        </tr>
        <tr>
            <td class="propertyGroup" style="border: none;" colspan="4">Specification</td>
        </tr>


      <%--  <tr>
            <td class="propertyCaption">Initial Year </td>
            <td  style="border-right-style: none;">
                <asp:TextBox ID="txt_Initial_Year" runat="server" MaxLength="50" Font-Size="10" Style="text-align: left; margin-left: 7px;"></asp:TextBox>

            </td>
            <td colspan="2" style="border-left-style: none;"></td>
        </tr>--%>
    <%-- <tr>					            
					        
		<td class="propertyCaption">Initial Year</td>					        
		<td colspan="2" style="border-right-style: none;"><asp:TextBox ID="txt_Initial_Year" runat="server" MaxLength="50" style="text-align:center;" ></asp:TextBox></td>
		<td colspan="3" style="border-left-style: none;"></td>
	</tr>--%>

                <uc14:MS_ST_DialogHeat_Exchnager_Info ID="DialogHeat_Exchnager_Info" runat="server" />


        <tr>
            <td class="propertyGroup" colspan="4" style="border: none; padding :0px;">


               <%-- Dialog--%>

                <uc10:MS_ST_DialogAbsorber_Info ID="DialogAbsorber_Info" runat="server" />
                <uc11:MS_ST_DialogColumn_Info ID="DialogColumn_Info" runat="server" />
                <uc12:MS_ST_DialogFilter_Info ID="DialogFilter_Info" runat="server" />
                <uc13:MS_ST_DialogDrum_Info ID="DialogDrum_Info" runat="server" />



            </td>
        </tr>
        <tr>
            <asp:Button ID="btnClose" runat="server" Class="button" Text="Close" Visible="false" />
            <caption>
                &nbsp;
                <asp:Button ID="btnUpdate" runat="server" Class="button" Text="Update to Tag" Visible="false" />
            </caption>
        </tr>
    </table>

<%--<asp:Panel ID="pnlBindingSuccess" runat="server" CssClass="notification success png_bg">  
                      <asp:ImageButton ID="btnBindingSuccessClose" runat="server" ImageUrl="resources/images/icons/cross_grey_small.png" ToolTip="Close" CssClass="close" />
				      <div><asp:Label ID="lblBindingSuccess" runat="server"></asp:Label></div>
				 </asp:Panel>
<asp:Panel ID="pnlValidation" runat="server" class="notification error png_bg"> 
				        <asp:ImageButton ID="btnValidationClose" runat="server" ImageUrl="resources/images/icons/cross_grey_small.png" ToolTip="Close" CssClass="close" />
                        <div> <asp:Label ID="lblValidation" runat="server"></asp:Label> </div>
                    </asp:Panel>--%>










