﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UC_StationaryOffRoutineTemplate5.ascx.vb" Inherits="EIR.UC_StationaryOffRoutineTemplate5" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>
<%@ Register src="UC_TextEditor.ascx" tagname="UC_TextEditor" tagprefix="uc1" %>

    <tr>
        <td colspan="2">
            <uc1:UC_TextEditor ID="UC_TextEditor1" runat="server"  />
        </td>
    </tr>

