﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UC_StationaryOffRoutineTemplate3.ascx.vb" Inherits="EIR.UC_StationaryOffRoutineTemplate3" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>
<%@ Register src="UC_TextEditor.ascx" tagname="UC_TextEditor" tagprefix="uc1" %>

    <tr>
        <td colspan="2">
            <table style="width:100%;border-collapse:initial;">
                <tr>
                    <td style="vertical-align:top;" >                              
                        <uc1:UC_TextEditor ID="UC_TextEditor1" runat="server"  />            
                    </td>
                    <td style="text-align:center;width:350px;"  >
                        <asp:ImageButton ID="imgImage" runat="server" Width="300px" Height="300px" ImageUrl="resources/images/Sample_40.png" style="cursor:pointer;" CommandName="Upload" CommandArgument="1" ToolTip="Click to edit picture" />
                    </td>
                </tr>
            </table>
        </td>
        
    </tr>

