﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UC_StationaryOffRoutineTemplate4.ascx.vb" Inherits="EIR.UC_StationaryOffRoutineTemplate4" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>
<%@ Register src="UC_TextEditor.ascx" tagname="UC_TextEditor" tagprefix="uc1" %>

    <tr>
        <td style="text-align:center;" colspan="2">
            <asp:ImageButton ID="imgImage" runat="server" Width="600px" Height="600px" ImageUrl="resources/images/Sample_40.png" style="cursor:pointer;" CommandName="Upload" CommandArgument="1" ToolTip="Click to edit picture" />
        </td>
    </tr>

