﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="UC_StationaryOffRoutineTemplate6.ascx.vb" Inherits="EIR.UC_StationaryOffRoutineTemplate6" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="cc1" %>
<%@ Register src="UC_TextEditor.ascx" tagname="UC_TextEditor" tagprefix="uc1" %>


    <tr>
        
        <td style="text-align:center" colspan="2" >
            <table style="width:100%;border-collapse:initial">
                <tr>
                    <td>
                        <table style="width:100%;border-collapse:initial">
                            <tr>
                                <td style="text-align:center;">
                                    <asp:ImageButton ID="ImageButton1" runat="server" Width="300px" Height="300px" ImageUrl="resources/images/Sample_40.png" style="cursor:pointer;" CommandName="Upload" CommandArgument="1" ToolTip="Click to edit picture" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <uc1:UC_TextEditor ID="UC_TextEditor1" runat="server" /> 
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table style="width:100%;border-collapse:initial">
                            <tr>
                                <td style="text-align:center;">
                                    <asp:ImageButton ID="ImageButton2" runat="server" Width="300px" Height="300px" ImageUrl="resources/images/Sample_40.png" style="cursor:pointer;" CommandName="Upload" CommandArgument="2" ToolTip="Click to edit picture" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <uc1:UC_TextEditor ID="UC_TextEditor2" runat="server" /> 
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table style="width:100%;border-collapse:initial">
                            <tr>
                                <td style="text-align:center;" >
                                    <asp:ImageButton ID="ImageButton3" runat="server" Width="300px" Height="300px" ImageUrl="resources/images/Sample_40.png" style="cursor:pointer;" CommandName="Upload" CommandArgument="3" ToolTip="Click to edit picture" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <uc1:UC_TextEditor ID="UC_TextEditor3" runat="server" /> 
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table style="width:100%;border-collapse:initial">
                            <tr>
                                <td style="text-align:center;">
                                    <asp:ImageButton ID="ImageButton4" runat="server" Width="300px" Height="300px" ImageUrl="resources/images/Sample_40.png" style="cursor:pointer;" CommandName="Upload" CommandArgument="4" ToolTip="Click to edit picture" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <uc1:UC_TextEditor ID="UC_TextEditor4" runat="server" /> 
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

