﻿.File_Menu_Dropdown {
display: inline-block;
float:left;
}

.File_Menu_Dropdown:hover .File_Menu_Dropdown_List {
    display: block;
}

.File_Menu_Dropdown_Button {
    border:none;
    cursor:pointer;
    min-height:42px;
    background:#e5e5e5 center no-repeat;      
    background-position:10px 12px;
    padding-left:30px;
    padding-right:15px;
    font-weight:bold;
    color:green;
}

.File_Menu_Dropdown_List {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.2);
    z-index: 1;
}

.File_Menu_Dropdown_List a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.File_Menu_Dropdown_List a:hover {
    background-color: #f1f1f1;
}

.File_Menu_Dropdown:hover .File_Menu_Dropdown_Button, .File_Menu_Dropdown_Button:hover {
    background-color: rgb(249, 249, 249);
}