﻿#dialog_input_box{
    display:none;
}
#dialog_input_box_overlay{
    background:black;
    opacity:.5;
    height:100%;
    left:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:6;
}
#dialog_input_container{
    position:absolute;
    left:50%;
    top:50%;
    width:300px;
    margin-left:-150px;
    height:150px;
    margin-top:-80px;
    position:fixed;
    z-index:50001;
    background:#fff;
}
#dialog_input_container,#dialog_input_content{
    border-radius:3px;
}

#dialog_input_content{
    height:95px;
    margin:10px 10px 5px 10px;
    overflow:auto;
    text-align:left;
    font-size:13px;
}

#dialog_input_content p{
    margin:10px;
    line-height:1.3em;
}

#dialog_input_content p input[type=text]{
    padding:5px;
    line-height:1.3em;
    font-size:14px;
    width:90%;
    border:1px solid #ccc;
}

#dialog_input_buttons input:last-child{
    position:absolute;right:10px;bottom:10px;
}
#dialog_input_buttons input:first-child{
    position:absolute;left:10px;bottom:10px;background:#999!important;
}

#dialog_input_buttons input[type=button]{margin:0 1em}
